# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Test files
tests/tests.log
tests/*_tests
tests/*.serial

# Make results
build
dist
node_modules

# Project files
*.sublime-*

# Simulation files
*.out
*.dir.tar
*.dir.tar.gz
*.stats.json